/* Typography is the way that the text is arranged and presents */

body{
    padding:10%;
    font-size:1rem;
}
p{
    /*text-align: center;
    text-transform: capitalize;
    text-indent:2em;
    line-height: 1.4em;
    letter-spacing: 1.2em;
    word-spacing: 2em;
    font-weight: 1000;*/
    font-style:italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
